{% extends 'main/layout.html' %}

{% block title %}Выбор жанров{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2>Выберите ваши любимые жанры</h2>
        <form method="post" action="{% url 'main:save-genres' %}">
            {% csrf_token %}
            {% for genre in genres %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="{{ genre.id }}" name="genres">
                    <label class="form-check-label">{{ genre.name }}</label>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
{% endblock %}
