{%extends 'main/layout.html'%}
{%load static%}

{%block title%}Личный кабинет{%endblock%}


{% block style %}
<link rel="stylesheet" href="{% static 'user/css/profile-style.css' %}">
{% endblock %}

{%block content%}
   <!-- Личный кабинет пользователя -->
    <div class="container mt-5">
        <h2>Личный кабинет</h2>
        {%if request.user.is_authenticated%}
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-secondary">
                    <div class="card-body">
                        <h5>Профиль</h5>
                        <p><strong>Имя пользователя:</strong> {{user.username}}</p>
                        <p><strong>Email:</strong> {{user.email}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card bg-secondary">
                    <div class="card-body">
                        <h5>Просмотренные фильмы</h5>
                        {% for film in films %}
                            <h6><a href="{% url 'main:movie-detail' slug=film.slug %}" class="film-link">{{ film.title }}</a></h6>
                        {% empty %}
                            <p>Нет просмотренных фильмов</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {%endif%}
    </div>
{%endblock%}

