{% extends 'main/layout.html' %}
{% load static %}

{% block title %}MovieFinder - Movies Selection{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            {% for film in films %}
                <div class="col-6 col-sm-4 col-md-3">
                    <div class="card bg-dark text-light mb-3" id="movie-card">
                        <img src="{{ film.poster }}" class="card-img-top" data-bs-toggle="modal" data-bs-target="#movieModal{{ film.id }}" alt="{{ film.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ film.title }}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            <span class="step-links">
                {% if films.has_previous %}
                    <a href="?page=1">&laquo; первая</a>
                    <a href="?page={{ films.previous_page_number }}">предыдущая</a>
                {% endif %}

                <span class="current-page">{{ films.number }}</span>

                {% if films.has_next %}
                    <a href="?page={{ films.next_page_number }}">следующая</a>
                    <a href="?page={{ films.paginator.num_pages }}">последняя &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>

    <!-- Movie Modal -->
    {% for film in films %}
        <div class="modal fade" id="movieModal{{ film.id }}" tabindex="-1" aria-labelledby="movieModalLabel{{ film.id }}" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content bg-dark text-light">
                    <div class="modal-header">
                        <h5 class="modal-title" id="movieModalLabel{{ film.id }}">{{ film.title }}</h5>
                        <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="{{ film.poster }}" class="img-fluid" alt="{{ film.title }}">
                            </div>
                            <div class="col-md-8">
                                <p>Оценка: {{ film.rating }}/10</p>
                                <p>Описание фильма: {{ film.description }}</p>
                                <a href="{% url 'main:movie-detail' film.slug %}" class="btn btn-light">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

