{% extends 'main/layout.html'%}

{% block title %}Films{% endblock%}

{% block content%}
    <div class="features">
         <h1>Films</h1>
            {% if films%}
                {% for el in films%}
                    <div class = "alert alert-warning">
                        <h3> {{el.title}}</h3>
                        <p> {{el.description}}</p>
                        <a href="{% url 'film-detail' el.id %}" class = "btn btn-warning">Детальная информация</a>
                    </div>
                {% endfor %}
            {% else %}
                <p>Список пуст</p>
            {% endif%}

    </div>

{% endblock%}
