.nav-link-divider {
    position: relative;
}

.nav-link-divider::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -5px; /* Расстояние от правого края */
    transform: translateY(-50%);
    width: 1px;
    height: 80%; /* Высота разделительной линии */
    background-color: #fff; /* Цвет разделительной линии */

}